# ansible/roles/web/templates/web-service.hcl.j2
# {{ ansible_managed }}

service {
  name = "grewal-cc-web"
  id   = "grewal-cc-web-instance-1"
  port = {{ web_container_port }}
  tags = ["nextjs", "frontend", "ssr", "nodejs"]

  address = "{{ web_container_info.container.NetworkSettings.Networks[docker_network_name].IPAddress }}"

  check {
    id       = "web-tcp-check"
    name     = "Next.js TCP Port Check"
    tcp      = "{{ web_container_info.container.NetworkSettings.Networks[docker_network_name].IPAddress }}:{{ web_container_port }}"
    interval = "15s"
    timeout  = "3s"
  }
}
