# Node.js dependencies
node_modules/

# Other things to ignore (build output, logs, etc.)
dist/
grewal.log
nohup.out
*.o

backups/

# Ignore generated Protobuf/gRPC files
*.pb.h
*.pb.cc
*.grpc.pb.h
*.grpc.pb.cc
