[Unit]
Description=Authorization Service (ext_authz)
Requires=docker.service
After=docker.service consul.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
# Pull the latest image before starting
ExecStartPre=/usr/bin/docker pull grewal/authz-service:latest
# Use host networking to easily access Consul Agent on 127.0.0.1:8500 on the VM
# Pass Consul address via environment variable
ExecStart=/usr/bin/docker run --rm \
    --name %n \
    --network host \
    -e CONSUL_HTTP_ADDR=127.0.0.1:8500 \
    -e LISTEN_ADDR=:{{ authz_service_listen_port | default(9001) }} \
    grewal/authz-service:latest

# Allow docker container to start before systemd considers service 'up'
# Might need adjustment based on app startup time
# ExecStartPost=/bin/sleep 2

ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
