# ansible/roles/grewal_cc_web/templates/grewal-cc-web.hcl.j2
# {{ ansible_managed }}

service {
  name = "grewal-cc-web"
  id   = "grewal-cc-web-instance-1"
  # Port the service listens on internally. Envoy will use this.
  port = {{ grewal_cc_web_container_port }} 
  tags = ["nextjs", "frontend", "ssr", "nodejs"]

  check {
    id       = "web-tcp-check"
    name     = "Next.js TCP Port Check"
    # The health check now targets the container directly via Docker's internal DNS on the grewalnet network.
    tcp      = "grewal-cc-web:{{ grewal_cc_web_container_port }}"
    interval = "30s" # Lowered interval for faster recovery
    timeout  = "3s"
    DeregisterCriticalServiceAfter = "5m"
  }
}
