---
admin:
  address:
    socket_address:
      address: 127.0.0.1
      port_value: 9901

static_resources:
  listeners:
    - name: listener_http_8888
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 8888
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": |-
                  type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: ingress_http_8888
                use_remote_address: true
                http_filters:
                  - name: envoy.filters.http.grpc_web
                    typed_config:
                      "@type": |-
                        type.googleapis.com/envoy.extensions.filters.http.grpc_web.v3.GrpcWeb
                  - name: envoy.filters.http.cors
                    typed_config:
                      "@type": |-
                        type.googleapis.com/envoy.extensions.filters.http.cors.v3.Cors
                  - name: envoy.filters.http.ext_authz
                    typed_config:
                      "@type": |-
                        type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
                      transport_api_version: V3
                      failure_mode_allow: true
                      http_service:
                        server_uri:
                          uri: >-
                           http://127.0.0.1:{{
                             authz_service_listen_port | default(9001) }}
                          cluster: authz_cluster
                          timeout: 0.5s
                        authorization_request:
                          allowed_headers:
                            patterns:
                              - exact: "user-agent"
                              - exact: "x-forwarded-for"
                        authorization_response:
                          allowed_upstream_headers:
                            patterns:
                              - exact: "x-authz-user"
                  - name: envoy.filters.http.router
                    typed_config:
                      "@type": |-
                        type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
                route_config:
                  name: local_route
                  virtual_hosts:
                    - name: backend_service_routes
                      domains: ["*"]
                      routes:
                        - match:
                            prefix: "/grewal.HomeGeneral/"
                          route:
                            cluster: grewal_service_cluster
                            timeout: 0s
                        - match:
                            prefix: "/"
                          route:
                            cluster: grewal_service_cluster
                            timeout: 15s

  clusters:
    - name: grewal_service_cluster
      connect_timeout: 1s
      type: STRICT_DNS
      lb_policy: ROUND_ROBIN
      dns_lookup_family: V4_ONLY
      typed_dns_resolver_config:
        name: envoy.network.dns_resolver.cares
        typed_config:
          "@type": |-
            type.googleapis.com/envoy.extensions.network.dns_resolver.cares.v3.CaresDnsResolverConfig
          resolvers:
            - socket_address:
                address: "127.0.0.1"
                port_value: 8600
      load_assignment:
        cluster_name: grewal_service_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: grewal-backend.service.consul
                      port_value: 50051
      typed_extension_protocol_options:
        envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
          "@type": |-
            type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
          common_http_protocol_options:
            idle_timeout: 3600s
          explicit_http_config:
            http2_protocol_options: {}
          upstream_http_protocol_options:
            auto_sni: true
            auto_san_validation: true

    - name: authz_cluster
      connect_timeout: 0.5s
      type: STRICT_DNS
      lb_policy: ROUND_ROBIN
      dns_lookup_family: V4_ONLY
      typed_dns_resolver_config:
        name: envoy.network.dns_resolver.cares
        typed_config:
          "@type": |-
            type.googleapis.com/envoy.extensions.network.dns_resolver.cares.v3.CaresDnsResolverConfig
          resolvers:
            - socket_address:
                address: "127.0.0.1"
                port_value: 8600
      load_assignment:
        cluster_name: authz_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: authz-service.service.consul
                      port_value: {{authz_service_listen_port | default(9001)}}
      typed_extension_protocol_options:
        envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
          "@type": |-
            type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
          common_http_protocol_options:
            idle_timeout: 300s
          upstream_http_protocol_options:
            auto_sni: true
            auto_san_validation: true
          explicit_http_config:
            http2_protocol_options: {}
