# ansible/roles/grewalcc/templates/grewalcc-service.hcl.j2
# {{ ansible_managed }}

service {
  name = "grewalcc"
  id   = "grewalcc-instance-1"
  port = {{ grewalcc_container_port }}
  tags = ["grpc", "cpp", "backend"]

  check {
    id       = "grewalcc-grpc-check"
    name     = "grewalcc gRPC Health Check"
    # The health check now targets the container directly via Docker's internal DNS on the grewalnet network.
    grpc     = "grewalcc:{{ grewalcc_container_port }}"
    interval = "30s" # Lowered interval for faster recovery
    timeout  = "10s"
    DeregisterCriticalServiceAfter = "5m"
  }
}
