# ansible/roles/consul/templates/consul.hcl.j2
# Deployed by Ansible

data_dir = "/consul/data"

# Non-dev server mode
server = true
bootstrap_expect = 1

# Allow health checks that execute scripts on the local agent.
enable_local_script_checks = true

# --- Increase Rate Limits (Temporary Diagnostic) ---
limits {
  http_max_conns_per_client = 400 # Default 200
  rpc_rate = 400                  # Default 200
  rpc_max_burst = 800             # Default 400
}
# ----------------------------------------------------

# Host networking configuration - use the internal IP variable
bind_addr = "{{ consul_host_ip }}"
advertise_addr = "{{ consul_host_ip }}"
client_addr = "0.0.0.0"

# Enable UI
ui_config {
  enabled = true
}

# Enable DNS Interface on standard port 8600 (UDP/TCP)
ports {
  dns = 8600
}

log_level = "INFO"

# Enable Prometheus Metrics Endpoint
telemetry {
  prometheus_retention_time = "24h"
  disable_hostname = true
}
