[Unit]
# Removed consul.service dependency
Description=Grewal Backend Service (Docker Container via Docker Hub)
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Restart=always
RestartSec=5s

# Stop and remove any existing container with the same name first
ExecStartPre=-/usr/bin/docker stop grewal-backend
ExecStartPre=-/usr/bin/docker rm grewal-backend

#ExecStartPre=-/usr/bin/docker pull grewal/grewal:latest

# Run the container
# Using --rm so systemd doesn't have to clean up stopped containers often
# Using host network as before
ExecStart=/usr/bin/docker run --rm --network host --name grewal-backend grewal/grewal:latest

# Stop the container gracefully
ExecStop=/usr/bin/docker stop grewal-backend

[Install]
WantedBy=multi-user.target
