# File: ansible/roles/postgres/templates/postgres-service.hcl.j2

service {
  name    = "{{ postgres_consul_service_name }}"
  id      = "{{ postgres_consul_service_id }}"
  tags    = "{{ postgres_consul_tags | to_json }}"

  # The address where Consul agent (on host) can reach the service.
  # The postgres container publishes its port to the host's loopback IP.
  address = "127.0.0.1"
  port    = {{ postgres_host_published_port }}

  check {
    id                         = "postgres-tcp-check"
    name                       = "PostgreSQL TCP Port Check"
    tcp                        = "127.0.0.1:{{ postgres_host_published_port }}"
    interval                   = "{{ postgres_consul_health_check_interval }}"
    timeout                    = "{{ postgres_consul_health_check_timeout }}"
    deregister_critical_service_after = "5m"
  }
}
